<!--
***Note*** This is a template for index.html.
It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment.
htmlWebpackPlugin will dynamically add reference to the scripts and styles that it bundles
to this file.The generated bundles have hash-based filenames,
so it's necessary to add the refernce dynamically.
for more info on ejs, see ejs docs
for examples of using it with htmlWebpackPlugin see github repo
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <!--Track JS injection-->
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
    <script src='#'></script>
  <% } %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Users</h1>
  <table>
    <thead>
      <th>&nbsp;</th>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </thead>
    <tbody id="users">
    </tbody>
  </table>
  <!-- <script src="bundle.js"></script> -->
</body>

</html>
